<!-- Footer starts here
<div class="container-fluid bg-success footer py-3 text-center">
    Copyright - 2021 - ©Ismail
</div> -->

<!-- Footer start -->
<footer style="background-color: #aae9e9;">
    <div class="container">
        <!-- <div class="footer-top pd-100">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <h5 class="text-white mb-3 mt-3">Features</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Cool stuff</a></li>
                        <li><a class="text-muted" href="#">Random feature</a></li>
                        <li><a class="text-muted" href="#">Team feature</a></li>
                        <li><a class="text-muted" href="#">Stuff for developers</a></li>
                        <li><a class="text-muted" href="#">Another one</a></li>
                        <li><a class="text-muted" href="#">Last time</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <h5 class="text-white mb-3 mt-3">Resources</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Resource</a></li>
                        <li><a class="text-muted" href="#">Resource name</a></li>
                        <li><a class="text-muted" href="#">Another resource</a></li>
                        <li><a class="text-muted" href="#">Final resource</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <h5 class="text-white mb-3 mt-3">Resources</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Landing Page</a></li>
                        <li><a class="text-muted" href="#">WebApp</a></li>
                        <li><a class="text-muted" href="#">Application</a></li>
                        <li><a class="text-muted" href="#">Service</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <h5 class="text-white mb-3 mt-3">About</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Team</a></li>
                        <li><a class="text-muted" href="#">Locations</a></li>
                        <li><a class="text-muted" href="#">Privacy</a></li>
                        <li><a class="text-muted" href="#">Terms</a></li>
                    </ul>
                </div>
            </div>
        </div> -->
        <div class="footer-main" style="border-top: 1px solid #454656;">
            <div class="row">
                <div class="col-12 pt-4 pb-3">
                    <p class="text-white text-center">Copyright - 2021 - ©Sadam
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer end -->