<div class="container my-4">
    <div style="float: right;margin: 10px;">
        <a href="#">Log out</a> {{customerName}}
    </div><br><br>
    <form>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>select Reciever Customer</label>
                <select name="rec" id="rec" class="form-control" #myreciever (change)="getRecieverinfo(myreciever.value)">
                    <option value="">Reciever customer</option>
                    <option *ngFor="let customer of RecieverUser.data" value="{{customer.customerid}}">{{customer.customername}}</option>
                </select>
            </div>
        </div>
    </div><br>

    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label>Amount in USD</label>
               <input type="number" class="form-control" placeholder="Amount in USD" (keyup)="onKey($event)" formControlName="amount">
            </div>
        </div>
        <div class="col-md-5">
            <label>Converted Amount</label>
            <div class="input-group mb-3">
                <input type="number" id="convertamount" class="form-control"  aria-label="Amount (to the nearest dollar)" formControlName="convertedamoun">
                <span class="input-group-text" id="c_code">USD</span><span class="input-group-text text-primary" id="charge">0.0</span>
              </div>
        </div>
    </div>
    </form>
    
</div>