<!-- Default form contact -->
<form class="text-center border border-light p-5">

    <p class="h4 mb-4">Contact us</p>
  
    <!-- Name -->
    <input type="text" formControlName="contactFormName" id="defaultContactFormName" mdbInput
      class="form-control mb-4" placeholder="Name">
  
    <!-- Email -->
    <input type="email" formControlName="contactFormEmail" id="defaultContactFormEmail" mdbInput
      class="form-control mb-4" placeholder="E-mail">
  

    <div class="form-group">
      <textarea formControlName="contactFormMessage" class="form-control rounded-0" mdbInput id="exampleFormControlTextarea2"
        rows="3" placeholder="Message"></textarea>
    </div>
    <button class="btn btn-primary my-5">Send</button>
 
  
  </form>
  <!-- Default form contact -->