
          <!-- Header start -->
      
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 my-5 mb-3">
                                <div class="sub-header">
                                    <h1>Faster & Secure Way Money Transfer</h1>
                                    <p class="text-muted para-dec">There are many variations of passages of Lorem Ipsum
                                        available but the majority
                                        have
                                        suffered alteration in some form.</p>
                                    <button type="button" (click)="login()"  class="btn btn-outline-info" >Send Money</button>
                                </div>
                            </div>
                            <div class="col-md-6 my-5 mb-3">
                              <img src="https://paysii.com/assets/images/v2/step5.jpg" alt="..">
                            </div>
                           
                        </div>
                    </div>
 
        <!-- Header end -->

  
<!-- Our services starts here -->
<div class="container mb-5">
  <div class="row">
      <div class="col-md-12 text-center my-5">
          <h1> <i class="fa fa-check-circle "></i></h1>
          <h1 class="section-title" style="color: rgb(40, 100, 240);">Easy Steps To Send Money</h1>
          <hr>
      </div>

  </div>
  <div class="row">
      <div class="col-sm-4 text-center">
          <div class="card h-100 ">
              <div class="card-body">
                  <img src="https://paysii.com/assets/images/v2/step5.jpg" alt="Header" style="width: fit-content;">
                  <h5 class="card-title"> Sign up for free </h5>
                  <p class="card-text">Easy to register online or in our unique mobile app. You can also sign up with
                      your Google or Facebook account.</p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
              </div>
          </div>
      </div>
      <div class="col-sm-4 text-center h-100 ">
          <div class="card h-100 ">
              <div class="card-body">
                  <img src=" https://paysii.com/assets/images/v2/step2.jpg" alt="Header" style="width: fit-content;">

                  <h5 class="card-title">Select country & enter amount </h5>
                  <p class="card-text">Select a country of your choice to send money to, enter the amount you want to
                      send & see the exchange rate applied, the fees charged & the total amount to pay transparently.
                  </p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
              </div>
          </div>
      </div>
      <div class="col-sm-4 text-center">

          <div class="card h-100 ">
              <div class="card-body">
                  <img src=" 	https://paysii.com/assets/images/v2/step3.jpg" alt="Header" style="width: fit-content;">
                  <h5 class="card-title">Add recipient information</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
              </div>
          </div>
      </div>

      <div class="row my-3 ml-auto">
          <div class="col-sm-4 text-center">
              <div class="card h-100 ">
                  <div class="card-body">
                      <img src=" 	https://paysii.com/assets/images/v2/step4.jpg" alt="Header"
                          style="width: fit-content;">
                      <h1><i class="fas fa-truck"></i></h1>
                      <h5 class="card-title">Verify your identity </h5>
                      <p class="card-text">To help us keep your money safe please provide your valid photo identity
                          and proof of address.
                      </p>
                      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                  </div>
              </div>
          </div>
          <div class="col-sm-4 text-center">
              <div class="card h-100 ">
                  <div class="card-body h-100 ">
                      <img src=" 	 https://paysii.com/assets/images/v2/step5.jpg" alt="Header"
                          style="width: fit-content;">

                      <h2><i class="far fa-newspaper"></i></h2>
                      <h5 class="card-title">Pay for your transfer</h5>
                      <p class="card-text">Use your debit/credit card to pay for your transfer using our safe and
                          secure payment.
                      </p>
                      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                  </div>
              </div>
          </div>
          <div class="col-sm-4 text-center">

              <div class="card h-100 ">
                  <div class="card-body">
                      <img src="https://paysii.com/assets/images/v2/step6.jpg" alt="Header"
                          style="width: fit-content;">
                      <h2><i class="fas fa-cogs"></i></h2>
                      <h5 class="card-title">That's it</h5>
                      <p class="card-text">Let's do the rest, to follow your transfer please login to your account and
                          see the status.
                      </p>
                      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Our services ends here -->


<!-- modal -->
<div class="modal" tabindex="-1" id="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="customerForm" (ngSubmit)="checkCustomer()">
      <div class="modal-body">
        <!-- start body -->
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>you phone</label>
                <input type="phone" placeholder="phone" class="form-control" formControlName="phone">
                <span class="text-danger" *ngIf="isSubmitted && customerForm.get('phone')?.hasError('required')">phone required </span>
              </div>
            </div><br>
            <div class="col-md-12">
              <div class="form-group">
                <label>password</label>
                <input type="password" placeholder="password" class="form-control" formControlName="password">
                <span class="text-danger" *ngIf="isSubmitted && customerForm.get('password')?.hasError('required')">password required </span>
              </div>
            </div>
          </div>
          <!--  end body -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">
            <span class="spinner-border spinner-border-sm" role="status" *ngIf="isSubmitted" aria-hidden="true"></span>
            login
        </button>
      </div>
    </form>
    </div>
  </div>
</div>


